test.orangebrew.ru {
    # Backend API (Preserve /api prefix)
    handle /api/* {
        reverse_proxy localhost:3001
    }

    # WebSocket (Preserve /ws path)
    handle /ws {
        reverse_proxy localhost:3001
    }

    # Frontend Test
    handle {
        reverse_proxy localhost:8081
    }
}

www.orangebrew.ru {
    redir https://orangebrew.ru{uri}
}

orangebrew.ru {
    # Backend API (Preserve /api prefix)
    handle /api/* {
        reverse_proxy localhost:3000
    }

    # WebSocket (Preserve /ws path)
    handle /ws {
        reverse_proxy localhost:3000
    }

    # Frontend Prod
    handle {
        reverse_proxy localhost:8080
    }
}
